* {
    padding: 0;
    margin: 0;
}

.upper_orange {
    background-color: #ff5200;
    display: flex;
    justify-content: center;
}

.navBar {
    padding: 32px 0px;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signbar {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 32px;
}

.font {
    font-size: 16px;
    color: white;
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
    font-style: normal;
    cursor: pointer;
    line-height: 21px;
    font-weight: 900;
}

.getapp {
    height: 22px;
    width: 150px;
    padding: 12px 0px;
    border-radius: 12px;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arro {
    margin-left: 5px;
}

.signin {
    height: 22px;
    width: 135px;
    padding: 12px 0px;
    border-radius: 12px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.mid {
    padding: 64px 0px 32px;
    background-color: #ff5200;
}

.vege {
    height: 450px !important;
    width: 250px !important;
    position: absolute;
    object-fit: cover;
}

.left {
    left: 0;
}

.right {
    right: 0;
}


.comment {
    color: white;
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    width: 60%;
    margin: 0px auto;
    padding-left: 12px;
    letter-spacing: -0.3px;
    line-height: 56px;
}

.inputmidbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 22px;
}

.location {
    background-color: white;
    line-height: normal;
    border: none;
    outline: 0;
    height: 58px;
    width: 220px;
    font-size: 16px;
    margin: 0;
    border-radius: 0;
    font-weight: 900;
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
}

.locationlogo {
    background-color: white;
    line-height: normal;
    border: none;
    outline: 0;
    height: 58px;
    width: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.downarrow {
    background-color: white;
    line-height: normal;
    border: none;
    outline: 0;
    height: 58px;
    width: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.lower_orange {
    background-color: #ff5200;
    padding: 0px 8px 20px;
    display: flex;
    justify-content: center;
}

.banner{
    width:81%;
    display:flex;
    gap:24px;
}

.card{
    flex:1;
}

.card img{
    width:100%;
    height:auto;
    display:block;
}

.textarrrow_display_css {
    margin: 120px 0px 0px 0px;
    width: 80%;
}

.text_arrow_cont {
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 26px;
    color: rgba(2, 6, 12, 0.92);
    display: inline-block;
}

.arrow {
    height: 32px;
    width: 32px;
    background-color: rgb(180, 180, 180);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow_scroll {
    display: flex;
    align-items: center;
    gap: 8px;
}

.text_arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.food_option {
    display: flex;
    justify-content: center;
}

.counter_section{
    height: 180px;
}

.counter_images {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.food_images {
    width: 80%;
    overflow-x: scroll;
    padding-top: 30px;
}

.instamart_need {
    display: flex;
    justify-content: center;
}

.insta_text {
    font-weight: 800;
    font-size: 20px;
    color: rgba(2, 6, 12, 0.75);
    text-align: center;
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
}

.instamart_photo {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    gap: 40px;
    width: 80%;
}

.instamart_image_scroll {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.dineout_need {
    display: flex;
    justify-content: center;
}

.dineout_banner {
    height: 400px;
    width: 326px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-wrap: wrap;
}

.upper_banner{
    height: 190px;
    width: 326px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.upper_banner_text {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    height: 50px;
    padding: 16px 12px 12px;
    bottom: 0px;
    position: relative;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
}

.banner_text {
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 0;
}

.rating_text {
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.4px;
    color: rgb(255, 255, 255);
    margin-left: 5px;
}

.lower_banner {
    height: 210px;
    width: 100%;
    padding: 8px 0px 0px 0px;
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.dineout_location {
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
    font-weight: 900;
    font-size: 13px;
    line-height: 17px;
    color: rgba(2, 6, 12, 0.6);
    overflow: hidden;
    overflow-wrap: break-word;
    word-break: break-all;
}

.location_text {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 4px 12px 0px 12px;
}

.flat_discount {
    border-radius: 8px;
    background: rgb(27, 166, 114);
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 8px;
}

.flat_discount_text {
    display: flex;
    justify-content: space-between;
}

.discount_text {
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.35px;
    color: rgb(255, 255, 255);
    padding: 0px 8px 0px 8px ;
}

.bank_offer{
    display: flex;
    align-items: center;
    height: 36px;
    border-radius: 8px;
    background: var(--Light-Comms-Positive-Sub, #c8f9e5);
    margin: 12px 8px;
    padding-left: 8px;
}

.bank_offer_text {
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
    font-weight: 900;
    font-size: 16px;
    line-height: 21px;
    color: rgb(27, 166, 114);
}

.payipi_text {
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
    font-weight: 900;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: -0.33px;
    color: rgb(81, 52, 182);
    margin: 12px 8px;

}

.dineout_hotel_rating_banner {
    display: flex;
    overflow-x: scroll;
    gap: 40px;
    width: 80%;
    height: 440px;
    margin-bottom: 120px;
}

.dineout_hotels_rating {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.chbg {
    background-image: url(images/casttlehousebg.jpg);
}

.utssbg{
    background-image: url(images/udupibg.jpg);
}

.tdmcbg{
    background-image: url(images/thedaddybg.jpg);
}

.ccrbg{
    background-image: url(images/cavescounty.jpg);
}

.slbg{
    background-image: url(images/skyloudgebg.jpg);
}

.clrbg {
    background-image: url(images/curryleavesbg.jpg);
}

.self_marketing {
    width: 80%;
    margin: 0 auto; 
}

.self_marketing img {
    width: 100%;   
    height: auto; 
    display: block; 
}

.option_city_food {
    width: 80%;
    margin: 0 auto; 
}